<%- include(`partials/header.ejs`) %> 
<%- include(`partials/navbar.ejs`) %> 
    <h1>Homepage</h1>
    <h3><%= `This is Homepage`.toUpperCase() %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque cum velit
      blanditiis minima, ipsa et repellendus, iusto nobis, assumenda temporibus
      facere quasi deserunt ea culpa soluta veniam nulla consequatur voluptas
      quisquam voluptatum! Quia nobis nostrum iste. Nobis ratione consectetur
      provident deserunt porro nesciunt numquam veniam ipsa illum tempore ut est
      cum iusto natus laborum suscipit, culpa dolor! Quos molestiae voluptas
      amet perspiciatis incidunt velit vel soluta laboriosam voluptates saepe
      cum magni a fugiat quis rem quae, deserunt suscipit beatae veniam
      reprehenderit est doloribus iste? Aperiam, facilis. Ducimus tempore ea
      architecto modi nobis dolorum, harum inventore, rem fugiat eaque illo!
      Iste.
    </p>
<%- include(`partials/footer.ejs`) %> 
